body {
    background-image: url("./assets/siteBackground.jpg");
    color: white;
}

#band-logo {
    max-width: 33%;
    height: auto;
}

/* Discography Page */

.album-artwork img {
    max-height: 545px;
}